[Unit]
Description=Harbor Relay
Documentation=https://github.com/yuanyp8/harbor-relay
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/lib/harbor-relay
ExecStart=/usr/local/bin/harbor-relay --config /etc/harbor-relay/relay.yaml
Restart=always
RestartSec=5
TimeoutStopSec=20
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
